body {
    background-color: #f9fbfd;
}

.main-container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.btn {
    display: flex;
    color: black;
    border: 1px solid black !important;
    background-color: transparent;
    justify-content: center;
    transition: all .3s;
    box-shadow: 5px 5px 10px 2px rgba(184, 126, 231, 0.247);
}

